/* Var */

:root {
  --dark-bg: #021321;
  --blue-bg: #082035;
  --button-bg: #4D7FA8;
  --light-blue: #DFECF7;
  --yellow: #F5E900;
  --light-grey: #EBF5FF;
  --white: #fff;

  font-size: 62.5%;
}

/* Geral */

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  min-width: 1440px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

section, main, footer {
  display: flex;
  justify-content: center;
}

header > div,
section > div,
main > div,
footer > div {
  padding: 3.2rem 13.6rem;
  width: 144rem;
}

h2 > a:hover,
h2 > a:focus,
h3 > a:hover,
h3 > a:focus {
  text-decoration: underline;
}

/* Header */

header {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--blue-bg);
}

#header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0.9fr 1fr 1.2fr;
  padding: 6.4rem 13.6rem 3.2rem;
  margin-inline: auto;
}

#logo {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: var(--light-blue);
}

#logo span {
  font-size: 3.6rem;
  font-weight: 700;
}

nav ul {
  font-size: 1.8rem;
  height: 4.5rem;
  padding: 0;
  list-style-type: none;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li:hover {
  font-weight: 700;
}

.bold {
  font-weight: bold;
}

a span {
  color: var(--yellow);
  font-size: 2.2rem;
  font-weight: 400;
  padding-right: 0.1rem;
}

.menu {
  color: var(--light-blue);
  text-align: center;
}

#search {
  display: flex;
  justify-content: flex-end;
}

#search input {
  background: var(--dark-bg);
  padding: 0 2.6rem;
  border: 0;
  color: var(--light-blue);
  border-radius: 0.5rem 0 0 0.5rem;
  opacity: 1;
  width: 23rem;
}

#search input::placeholder {
  color: var(--light-blue);
}

#search button {
  background: var(--button-bg);
  padding: 0 2.3rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border: 0;
  cursor: pointer;
}

#search button:enabled {
  color: blue;
}

#menu-button {
  display: none;
}

header > div.yellow-line {
  padding: 0;
}

/* Main */

main {
  padding-top: 17.2rem;
  background-color: var(--blue-bg);
}

#main h1 {
  color: var(--button-bg);
  font-family: 'Poppins', sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
}

#main {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
}

#main #main-text {
  display: flex;
  flex-flow: column;
  max-width: 49rem;
  line-height: 5.4rem;
}

#main p {
  color: var(--light-blue);
  font-weight: 400;
  font-size: 1.6rem;
  padding: 1.6rem 0 2rem;
  max-width: 44rem;
  line-height: 2.7rem;
}

#main p a {
  color: var(--button-bg);
}

#main > img {
  width: 57rem;
  height: 34.6rem;
  border-radius: 0.8rem;
}

#see-more {
  display: flex;
  align-items: center;

  color: var(--button-bg);
  font-size: 1.8rem;
  font-weight: 700;
}

#see-more a img {
  display: flex;
  padding-left: 0.8rem;
}

/* Line */

.yellow-line {
  background: var(--yellow);
  width: auto;
  height: 0.6rem;
}

#posts .gray-line {
  background-color: var(--light-grey);
  width: auto;
  height: 0.1rem;
  margin: 2.4rem 0;
}

#posts .mobile-line {
  display: none;
}

/* posts */

#posts-background {
  display: flex;
  justify-content: center;
  background: var(--light-blue);
}

#top-posts {
  display: flex;
  justify-content: space-between;
  align-items: initial;
  padding-bottom: 6.4rem;
  gap: 13rem;
}

#post-2 {
  max-width: 57.2rem;
}

#post-2 img {
  width: 56.9rem;
  height: 34.243rem;
  border-radius: 1.2rem;
}

#right-posts {
  max-width: 47.2rem;
}

#bottom-posts {
  display: flex;
  justify-content: space-between;
}

#bottom-posts article {
  max-width: 37.2rem;
}

.date {
  font-size: 1.6rem;
}

h2 {
  font-size: 2.4rem;
  color: var(--blue-bg);
  font-weight: bold;
  padding: 1.6rem 0;
  line-height: 3.6rem;
}

.text-post {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

article img {
  margin-bottom: 1.6rem;
}

#bottom-posts img {
  width: 37rem;
  height: 25.957rem;
  border-radius: 0.8rem;
}

/* About & Categories */

main#about, main#categories, main.main-post {
  background-color: var(--light-blue);
}

main#about h1,
main#categories h1,
main.main-post h1 {
  font-size: 3.6rem;
  color: var(--blue-bg);
  margin-bottom: 2.4rem;
}

/* About & Post pages */

main#about p,
main.main-post p {
  font-size: 2rem;
  text-align: justify;
  line-height: 2.4rem;
  margin-bottom: 1.2rem;
  line-height: 3rem;
}

main#about p::before,
main.main-post p::before {
  content: '';
  margin-left: 4rem;
}

/* Categories */

main#categories h2 {
  font-size: 2.6rem;
  margin-bottom: 0.8rem;
}

main#categories .posts-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.6rem;
}

main#categories .category-post {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

main#categories img {
  width: auto;
  height: 20rem;
  margin-inline: auto;
  border-radius: 0.8rem;
  margin-bottom: 1.2rem;
}

main#categories h3 {
  font-size: 2rem;
  color: var(--blue-bg);
  margin-top: 0.8rem;
}

main#categories p {
  font-size: 1.8rem;
  text-align: justify;
  margin-top: 1rem;
}

/* Footer */

footer {
  background-color: var(--blue-bg);
}

footer > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer div p {
  color: var(--light-blue);
  font-size: 1.6rem;
}

/* Post pages */

main.main-post > div {
  display: flex;
  flex-direction: column;
}

main.main-post .date {
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

main.main-post div img {
  margin: auto;
  height: 52rem;
  width: auto;
  border-radius: 1.6rem;
  margin-bottom: 3.2rem;
}

main.main-post div strong {
  color: var(--blue-bg);
}

main.main-post li,
main.main-post ol,
main.main-post ul {
  all: unset;
}

main.main-post ol,
main.main-post ul {
  padding-block: 2.4rem;
}

main.main-post h2 {
  font-size: 2.6rem;
  color: var(--blue-bg);
  margin-bottom: 1.2rem;
  padding: 0;
}

main.main-post pre {
  width: 60rem;
  border: 10px var(--blue-bg) solid;
  border-radius: 2rem;
  padding: 2rem 2rem;
  background-color: var(--dark-bg) ;
  margin-inline: auto;
}

main.main-post code {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #E1E1E6;
  letter-spacing: 1px;
}

main.main-post .comment {
  color: var(--button-bg);
}

main.main-post .var {
  color: #FF70C1;
}

main.main-post .number {
  color: #68CCDE;
}

main.main-post .string {
  color: #e7de79;
}

main.main-post .function {
  color: #67e480;
}

main.main-post .parameter {
  color: #E89E64;
}

main.main-post .first-group {
  color: var(--yellow);
}

main.main-post .third-group {
  color: #58C7DA;
}

main.main-post .empty-content {
  letter-spacing: 4px;
}

/* Tablet */

@media (max-width: 800px) {
  body {
    min-width: 100vw;
  }

  header > div,
  section > div,
  main > div,
  footer > div {
    padding-inline: 8rem;
  }

  /* Header */

  #header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-inline: 8rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  #logo {
    height: 6rem;
  }

  nav,
  #search {
    display: none;
  }

  #menu-button {
    display: block;
  }

  #menu-button button {
    background: transparent;
    border: none;
  }

  #menu-button button svg {
    width: 6rem;
    height: 6rem;
    fill: white;
  }

  #close-button {
    display: none;
  }

  /* Menu */

  #header.opened-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 48rem 18rem;
  }

  #header.opened-menu #logo {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #header.opened-menu nav {
    display: flex;
    margin-inline: auto;
  }

  #header.opened-menu .menu {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #header.opened-menu ul {
    flex-direction: column;
    justify-items: center;

    height: auto;
  }

  #header.opened-menu ul li {
    font-size: 3.2rem;
  }

  #header.opened-menu a span {
    font-size: 3.6rem;
  }

  #header.opened-menu #search {
    display: flex;
    justify-content: center;

    height: 6.5rem;
    margin-block: auto;

    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #header.opened-menu #menu-button {
    display: flex;
    justify-content: flex-end;

    grid-column-start: 3;
  }

  #header.opened-menu #open-button {
    display: none;
  }

  #header.opened-menu #close-button {
    display: block;
  }

  /* Main */

  main {
    padding-block: 14rem 0;
  }

  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #main #main-text {
    max-width: 100rem;
  }

  #main p {
    padding-bottom: 0.5rem;
    max-width: 100rem;
  }

  #main #main-img {
    width: 70vw;
    height: auto;
  }

  #main #see-more {
    padding-bottom: 2rem;
  }

  /* Line */

  #posts .mobile-line {
    display: block;
  }

  /* posts */

  #posts {
    padding: 5rem 8rem;
    display: flex;
    flex-direction: column;
  }

  #posts #top-posts {
    display: flex;
    flex-direction: column;
    gap: 0;

    padding-bottom: 0;
  }

  #posts #post-2 {
    display: flex;
    flex-direction: column-reverse;
  }

  #posts #post-2 img,
  #posts #bottom-posts img {
    margin-block: 2rem 0;
    width: 75%;
    height: auto;
  }

  #posts #post-2,
  #posts #right-posts {
    max-width: 100rem;
  }

  #posts #bottom-posts {
    flex-direction: column;
  }

  #posts #bottom-posts article {
    max-width: 100rem;
  }

  #posts #bottom-posts #post-5,
  #posts #bottom-posts #post-6,
  #posts #bottom-posts #post-7 {
    display: flex;
    flex-direction: column-reverse;
  }

  /* Categories */

  main#categories .posts-list {
    grid-template-columns: 1fr;
  }

  /* Post page */

  main.main-post div img {
    width: 100%;
    border-radius: 1.2rem;
    height: auto;
  }
}

/* Mobile */

@media (max-width: 680px) {
  /* Footer */

  footer > div {
    flex-direction: column;
    gap: 1.2rem;

    text-align: center;
  }
}

@media (max-width: 600px) {
  main > div, #header, #posts, footer > div {
    padding-inline: 2rem;
  }

    /* Main */

  #main h1 {
    font-size: 3.2rem;
  }

  #main #main-img {
    width: 84vw;
  }

  /* posts */

  #posts #post-2 img,
  #posts #bottom-posts img {
    width: 100%;
  }

  /* Post pages */

  main.main-post div img {
    border-radius: 0.8rem;
  }
}

@media (max-width: 400px) {
  
  /* Categories */

  main#categories img {
    height: 16rem;
  }
}